.main-screen-page {
  display: flex;
  flex-flow: column nowrap;
}

.search-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-text {
  color: rgba(255, 255, 255, 0.8);
}

.search-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 60%;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid 5px rgb(0, 0, 0);
  outline: 1px solid rgb(141, 138, 138);
  background-color: rgba(255, 255, 255, 0.8);
}

.search-bar input:focus {
  border: solid 5px rgba(0, 0, 0, 0.6);
}

.search-bar button {
  height: 26px;
  width: 80px;
  border-radius: 10px;
  border: solid 1px white;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.bottom-screen {
  display: flex;
  width: 90%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto 150px;
  height: 800px;
  min-height: fit-content;
}

.left-main-screen {
  width: 260px;
  height: 100%;
  min-width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-main-screen {
  margin-left: 10px;
  min-height: fit-content;
  height: 100%;
  flex-grow: 1;
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 5px rgb(218, 165, 32, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.mainscreen-no-products {
  color: rgb(255, 255, 255, 0.4);
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

::-webkit-scrollbar {
  background-color: rgb(136, 136, 136, 0.5);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(218, 165, 32, 0.6);
  width: 20px;
  border-radius: 30px;
}

@media only screen and ( max-width: 848px ) {
  .left-main-screen {
    flex-grow: 1;
    margin: 0;
    position: relative;
    left: 5px;
    margin-bottom: 40px;
    height: 300px;
  }

  .right-main-screen {
    margin-top: 20px;
  }

  .category-list-container {
    justify-content: center;
    align-items: center;
    height: 220px;
    overflow-y: scroll;
    font-size: 1.3em;
  }

  .categories-list li button {
    height: 40px;
  }

  .categories-list li:first-child {
    margin-top: 1100px;
  }
}